#sonho {
  display: block;
  margin-top: 180px;
}

#sonho h2 {
  text-align: center;
}

#sonho img {
  display: block;
  margin: 1.2rem auto;
}

#sonho-info {
  text-align: center;
  background-color: #fff;
  color: var(--text-color);
  width: 100vw;
  height: fit-content;
  border-radius: 50px 50px 0 0;
  margin-top: 2.4rem;
  padding: 3.2rem 2rem 0;
}

#sonho-info .grid {
  width: 70%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

.grid h3:last-of-type {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#sonho-info h4:first-of-type {
  width: 80%;
  margin: 2.4rem auto;
  padding-bottom: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  border-bottom: 1px solid #dddddd;

  color: #9e9e9e;
  font-size: 1.8rem;
}

.destaque {
  color: var(--button-color);
  font-weight: 600;
}

.each-dream {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;

  margin: 2.4rem auto;
  padding-bottom: 1.6rem;

  border-bottom: 1px solid #dddddd;
}

.each-dream img {
  width: min-content;
}

.each-dream p {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.add-dream {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2.4rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add {
  font-size: 40px;
  color: var(--button-color);
}
