#home {
  text-align: center;
  width: 70vw;
}

#home-title {
  font-size: 5.2rem;
  font-weight: 700;
}

#home h2 {
  font-size: 2.7rem;
  font-weight: 300;
}

#home button {
  margin: 100px 0 70px;
}

#thin {
  font-weight: 100;
}