#cadastrar-sonho {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cadastrar-sonho h2 {
  text-align: center;
}

#topo {
  position: absolute;
  top: 5vh;
}

#topo img {
  display: block;
  margin: 1.2rem auto;
}

#cadastro {
  background-color: #fff;
  color: var(--text-color);

  width: 100vw;
  padding: 2rem;
  position: absolute;
  bottom: 0;
  border-radius: 50px 50px 0 0;
}

#cadastro h3 {
  width: 60%;
  margin: 0 auto 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

#form-cadastro-sonho label {
  position: relative;
  bottom: -1rem;
  left: 3.2rem;
  padding: 0 6px;

  background-color: #fff;
  color: var(--button-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#form-cadastro-sonho input,
#form-cadastro-sonho textarea {
  width: 80vw;
  padding: 1.6rem;
  display: block;
  margin: 0 auto;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  border-radius: 5px;
  border: 1px solid var(--button-color);
}

#descricao {
  width: 80vw;
  padding: 1.6rem;
  display: block;
  margin: 0 auto;

  border-radius: 5px;
  border: 1px solid var(--button-color);
}

#cadastro button {
  width: 70%;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}
