#menu {
  width: 100vw;
  height: 100vh;
}

#avatar {
  position: absolute;
  top: 67px;
  right: 45px;
}

#saldo-info {
  margin-left: 45px;
  margin-top: 20vh;
}

#saldo-info h2 {
  font-size: 2.4rem;
}

#saldo-info h2:last-of-type {
  font-weight: 400;
}

#menu-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  bottom: 0;

  width: 100vw;
  height: 67vh;
  border-radius: 50px 50px 0 0;
  padding: 2.4rem;

  color: var(--text-color);
  background-color: #fff;

  text-align: center;
}

.menu-card {
  width: 150px;
  height: 150px;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--button-color);
  border-radius: 10px;
  box-shadow: 2px 2px var(--button-color);
}

.menu-card p {
  font-size: 14px;
  font-weight: 400;
  width: 90%;
  margin-top: 1.6rem;
}

.menu-link {
  color: var(--text-color);
}

.menu-card img {
  width: 80%;
  max-height: 60%;
  opacity: .8;
}

.menu-card img,
.menu-card h2 {
  margin-bottom: 1rem;
}